/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4139358 */
  src: url('https://at.alicdn.com/t/c/font_4139358_h7y6xk7pysg.woff2?t=1688194425914') format('woff2'),
  url('https://at.alicdn.com/t/c/font_4139358_h7y6xk7pysg.woff?t=1688194425914') format('woff'),
  url('https://at.alicdn.com/t/c/font_4139358_h7y6xk7pysg.ttf?t=1688194425914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
  content: "\e650";
}
.icon-VIP:before {
  content: "\e619";
}
.icon-gonggao1:before {
  content: "\e649";
}

.icon-tuoyun:before {
  content: "\e7e6";
}

.icon-lvxing:before {
  content: "\e600";
}

.icon-feiji:before {
  content: "\e60e";
}

.icon-feiji1:before {
  content: "\e655";
}

.icon-tongji:before {
  content: "\e607";
}

.icon-dingdan:before {
  content: "\e64e";
}

.icon-tongji1:before {
  content: "\e688";
}

.icon-hangbandongtai:before {
  content: "\e8db";
}

.icon-dailishang:before {
  content: "\e628";
}

.icon-dingdan-:before {
  content: "\e609";
}

.icon-hangxian:before {
  content: "\e602";
}

.icon-hanghanggonggao:before {
  content: "\e601";
}

.icon-yuangonggonghao:before {
  content: "\e6e4";
}

.icon-yonghu:before {
  content: "\e701";
}

.icon-jichang:before {
  content: "\e68d";
}

.icon-renyuanguanli:before {
  content: "\e60a";
}

